*:not(i) {
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    background-color: black;
}

.page-content {
    max-width: 1250px;
    padding: 10 20 10 20;
    margin: 0 auto;
}

nav {
    padding: 8 0 8 0;
}

#top-content {
    margin-top: 65;
}

.main-image {
    width: 50%;
}

a {
   margin: 0 10 0 10;
   text-decoration: none;
   font-size: 16px;
   display: inline-block;
   font-weight: 500;
   transition: 0.3s;
   color: white;
}

.home:hover {
    color: #60A4E5;
    border-bottom-color: #60A4E5;
}

.apps:hover {
    color: #B57EFF;
    border-bottom-color: #B57EFF;
}

.web:hover {
    color: #1CD371;
    border-bottom-color: #1CD371;
}

.experience:hover {
    color: #E9FE47;
    border-bottom-color: #E9FE47;
}

button {
    color: white;
    background: rgba(255,0,0,0);
    border-radius: 6px;
    border: 2px solid white;
    transition: 0.2s;
    padding: 10 30 10 30;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}

.button-active {
    background: white;
    color: black;
}

.contact-button {
    margin-top: 11;
    transition: 0.2s;
    scale: 0;
}

#contactButtonContainer {
    margin-top: 5;
    width: 50;
    z-index: 1; 
    position: absolute;
}

.show-contact-buttons {
    scale: 1;
}

.large-screen-nav {
    padding-bottom: 2;
}

.sidenav-open-button {
    display: none;
    transition: 0.3s;
    float: right;
    margin-top: 3;
    width: 40;
}

.sidenav-close-button {
    transition: 0.3s;
    margin-bottom: 15;
    margin-left: 8;
}

.sidenav-close-button:hover {
    scale: 1.03;
}

.sidenav-open-button:hover {
    scale: 1.03;
}

.sidenav {
    height: 100%;
    width: 280;
    position: fixed;
    z-index: 10000;
    top: 0;
    right: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.3s;
    padding-top: 20px;
    padding-left: 20;
    margin-right: -301px;
 }

 .sidenav a {
    padding: 8 8 8 0;
    text-decoration: none;
    font-size: 25px;
    display: block;
    font-weight: 600;
    transition: 0.3s;
    color: #fefefe;
 }

#active {
    border-bottom: 2px solid;
}

#sidenav-active-home {
    color: #60A4E5;
}

#sidenav-active-apps {
    color: #B57EFF;
}

#sidenav-active-web {
    color: #1CD371;
}

#sidenav-active-experience {
    color: #E9FE47;
}

#main-title {
    font-size: 50;
    color: white;
    font-weight: 500;
    transition: 0.3s;
}

#job-title {
    margin-top: -30;
    font-size: 28;
    font-weight: 100;
    color: rgb(240, 240, 240);
    transition: 0.3s;
}

#blob {
    width: 40vw;
    padding-left: 30px;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.primary-button {
    background-color: white;
    padding: 10 15 10 15;
    border-radius: 5px;
    color: black;
    border: none;
}

button:hover{
    scale: 1.02;
}

.spacer {
    width: 4%;  
}

.js-scroll {
    opacity: 0;
    transition: opacity 500ms;
}

.scrolled.fade-in-bottom {
    animation: fade-in-bottom 0.5s ease-in-out both;
  }
  
.js-scroll.scrolled {
    opacity: 1;
}

@keyframes fade-in-bottom {
    0% {
      -webkit-transform: translateY(50px);
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
      opacity: 1;
    }
}

.rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}


@media only screen and (max-width: 765px) { 
    .row {
        display: block;
    }

    .large-screen-nav {
        display: none;
    }

    .page-content {
        margin-top: 10px;
    }

    .spacer {
        width: 0;
        height: 0;
        display: none;
    }

    #main-title {
        font-size: 40;
    }

    .sidenav-open-button {
        display: block;
    }

    #top-content {
        margin-top: 65;
    }

    #blob {
        width: 90vw;
        padding-top: 35px;
        padding-left: 0;
    }

    #contactButtonContainer {
        width: 230;
        z-index: 1; 
        position: absolute;
        margin-left: 150;
        margin-top: -65;
    }

    .contact-button {
        margin-left: 10;
    }

    .main-image {
        width: 100%;
    }
}